<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>
    <br/>
    <table data-th-object="${invoice}">
        <tr>
            <td>Invoice id: </td>
            <td type="text" data-th-text="*{invoiceId}"></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td type="text" data-th-text="${invoice.getName}"></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td type="text" data-th-text="${invoice.getAddress}"></td>
        </tr>
        <tr>
            <td>Total: </td>
            <td type="text" data-th-text="*{total}"></td>
        </tr>
    </table>
</body>
</html>